<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/laravel/introduction">Introduction</a>
  <a href="laravel/what_is_laravel">What is laravel</a>
  <a href="/laravel/setting-up">Setting up</a>
  <a href="/laravel/controller">Controller</a>
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span> 
